<div class="current_courses 1period">
  <%= render partial: 'static_pages/today_courses', locals:{period: 1, current_courses: current_courses}%>
</div>
<div class="current_courses 2period">
  <%= render partial: 'static_pages/today_courses',  locals:{period: 2, current_courses: current_courses}%>
</div>
<div class="current_courses 3period">
  <%= render partial: 'static_pages/today_courses', locals:{period: 3 ,current_courses: current_courses}%>
</div>
<div class="current_courses 4period">
  <%= render partial: 'static_pages/today_courses',  locals:{period: 4 ,current_courses: current_courses}%>
</div>
<div class="current_courses 5period">
  <%= render partial: 'static_pages/today_courses',  locals:{period: 5 ,current_courses: current_courses}%>
</div>