
<div class = "row">
  <div class="col-md-6">
    <div class="course-nav">
      <ul>
        <li>全カリ</li>
        <li>経営学部</li>
      </ul>
    </div>
    <div class="current_courses">
      <% if @current_courses.any? %>
      <ul>
        <% @current_courses.each do |current_course| %>
        <li><%= link_to current_course.course_name, course_path(current_course) %></li>
        <% end %>
      </ul>

        <% elsif @current_courses.empty? %>
      <h3>現在講義中の授業はありません</h3>
        <% end %>
    </div>

  </div>
  <div class="col-md-6">
      <%= form_tag(static_pages_home_path,method: :get) do%>
    <%= text_field_tag :course_name,params[:course_name],placeholder:"講義名",class:"form-control" %>
      <%= text_field_tag :professor,params[:professor],placeholder:"教授",class:"form-control" %>
      <%= select_tag 'sem',options_for_select({"春学期":0,"秋学期":1},{selected:params[:sem]}),include_blank: "学期",class:"form-control" %>
      <%= select_tag 'wday',options_for_select({"月":1,"火":2,"水":3,"木":4,"金":5,"土":6},{selected:params[:wday]}),include_blank: "曜日",class:"form-control" %>
      <%= select_tag 'period',options_for_select({"1限":1,"2限":2,"3限":3,"4限":4,"5限":5},{selected:params[:period]}),include_blank: "時限",class:"form-control" %>
      <%= submit_tag "検索",class:"btn btn-primary" %>

    <% end %>

    <table>
      <tr style="border-bottom: 1px solid black">
        <th>講義名</th>
        <th>教授</th>
      </tr>
      <% if @result_courses.present? %>
        <% @result_courses.each do |course| %>
      <tr>
        <td> <%=link_to course.course_name,course_path(course) %></td>
        <td><%= course.professor %></td>
      </tr>
        <% end %>
      <% end %>
    </table>



  </div>
</div>



