
<td><%= period %></td>

<td>
  <% if mon(period).present? %>
  <%= link_to  mon(period).course_name,course_path(mon(period)) %>
  <span> -<%= mon(period).professor %>-</span>
    <% end %>
</td>
<td>
  <% if tue(period).present? %>
    <%= link_to  tue(period).course_name,course_path(mon(period)) %>
    <span> -<%= tue(period).professor %>-</span>
  <% end %>
</td>
<td>
  <% if wed(period).present? %>
    <%= link_to  wed(period).course_name,course_path(wed(period)) %>
    <span> -<%= wed(period).professor %>-</span>
  <% end %>
</td>
<td>
  <% if thu(period).present? %>
    <%= link_to  thu(period).course_name,course_path(thu(period)) %>
    <span> -<%= thu(period).professor %>-</span>
  <% end %>
</td>
<td>
  <% if fri(period).present? %>
    <%= link_to  fri(period).course_name,course_path(mon(period)) %>
    <span> -<%= fri(period).professor %>-</span>
  <% end %>
</td>
<td>
  <% if sat(period).present? %>
    <%= link_to  sat(period).course_name,course_path(sat(period)) %>
    <span> -<%= sat(period).professor %>-</span>
  <% end %>
</td>
