
<div class="time-table">

  <h1>時間割</h1>
  <table border="1">
    <tr height = "10%">
      <th width="10%">  </th>
      <th width="15%">月</th>
      <th width="15%">火</th>
      <th width="15%">水</th>
      <th width="15%">木</th>
      <th width="15%">金</th>
      <th width="15%">土</th>
    </tr>
    <tr height="18%">
      <%= render partial: 'users/TT', product:@user, locals:{period: 1 }%>
    </tr>
    <tr height="18%">
      <%= render partial: 'users/TT', product:@user, locals:{period: 2 }%>
    </tr>
    <tr height="18%">
      <%= render partial: 'users/TT', product:@user, locals:{period: 3 }%>
    </tr>
    <tr height="18%">
      <%= render partial: 'users/TT', product:@user, locals:{period: 4 }%>
    </tr>
    <tr height="18%">
      <%= render partial: 'users/TT', product:@user, locals:{period: 5 }%>
    </tr>

  </table>
</div>



