<label>
  <%= f.radio_button :wday, 1%>
  月
</label>
<label>
  <%= f.radio_button :wday, 2,checked:"checked"%>
  火
</label>
<label>
  <%= f.radio_button :wday, 3%>
  水
</label>
<label>
  <%= f.radio_button :wday,4 %>
  木
</label>
<label>
  <%= f.radio_button :wday, 5%>
  金
</label>
<label>
  <%= f.radio_button :wday, 6%>
  土
</label>