<% provide(:title,"講義編集") %>
<h1> 講義編集　</h1>
<div><%= render 'shared/error_messages' %></div>
<!--フォーム-->
<!--講義名-->
<div class="row course-form">
  <div class="col-md-1 col-md-offset-3">
    <%= form_for(@course) do |f| %>
      <%= f.label :course_name,"講義名" %>
      </div>
      <div class="col-md-4 ">
        <%= f.text_field :course_name ,value: "#{@course.course_name }" ,class: "input-name"%>
      </div>
      </div>
      <!--  教授名    -->
      <div class="row course-form">
        <div class="col-md-1 col-md-offset-3">
          <%= f.label :professor,"教授名" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :professor,class: "input-name", value: "#{@course.professor}" %>

        </div>
      </div>

      <!--学期-->
      <div class="row course-form">
        <div class="col-md-1 col-md-offset-3">
          <%= f.label :sem,"学期" %>
        </div>
        <div class="col-md-6">
          <% case @course.sem  %>
          <% when 0 %>
          <label>
            <%= f.radio_button :sem, 0, checked:"checked"%>
            春期
          </label>
          <label>
            <%= f.radio_button :sem, 1%>
            秋期
          </label>
            <% when 1 %>
            <label>
              <%= f.radio_button :sem, 0%>
              春期
            </label>
            <label>
              <%= f.radio_button :sem, 1, checked:"checked"%>
              秋期
            </label>
          <% end %>
        </div>
      </div>

      <div class="row course-form">
        <div class="col-md-1 col-md-offset-3">
          <%= f.label :faculty,"学部" %>
        </div>
        <div class="col-md-6 ">
          <%= f.select(:faculty, [['全学年共通', 0],['経営学部', 1],['文学部',2],['経済学部',3],
                                  ['社会学部',4],['法学部',5]]) %>
        </div>
      </div>
      <!--時間割-->
      <div class="row course-form">
        <div class="col-md-1 col-md-offset-3">
          <%= f.label :period,"時間" %>
        </div>
        <div class="col-md-6">
          <%= f.number_field :period, min: 1,max: 5,value:@course.period.to_i,class: "input-period  "%>
          <%= f.label :period,"限目" %>
        </div>
      </div>

      <!--曜日-->
      <div class="row course-form">
        <div class="col-md-1 col-md-offset-3">
          <%= f.label :wday, "曜日" %>
        </div>
        <div class="col-md-6">
          <label>
            <%= f.radio_button :wday, 1, checked:@mon%>
            月
          </label>
          <label>
            <%= f.radio_button :wday, 2, checked: @tue%>
            火
          </label>
          <label>
            <%= f.radio_button :wday, 3,checked:@wen%>
            水
          </label>
          <label>
            <%= f.radio_button :wday,4 ,checked:@thu%>
            木
          </label>
          <label>
            <%= f.radio_button :wday, 5,checked:@fri%>
            金
          </label>
          <label>
            <%= f.radio_button :wday, 6,checked:@sat%>
            土
          </label>

        </div>
      </div>



<!-- 編集ボタン-->
<div class="row course-form">
  <div class="col-md-2 col-md-offset-5">
      <%= f.submit "編集", class:"btn btn-primary" %>
<% end %>
</div>
</div>