<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= full_title(yield :title) %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Sample app","#",id: "logo" %>
      <nav class="nav navbar-nav navbar-right">
        <%= link_to %>
        <%= link_to %>
        <%= link_to %>
        </nav>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
